<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration 
    xmlns:log4j="http://jakarta.apache.org/log4j/" 
    debug="false">
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %5p [%c] %m%n" />
        </layout>   
    </appender>
    
    <logger name="egovframework" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="console"/>
    </logger>

	<!-- log SQL with timing information, post execution -->
	<logger name="org.springframework.web" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
	
	<!--
	<logger name="jdbc.sqltiming" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="console" />
	</logger>
 
	
	<logger name="org.springframework.jdb" additivity="false">
		<level value="WARN" />
		<appender-ref ref="console" />
	</logger>
	-->
	
	
	<!-- yoo pyong soo-->
  <logger name="java.sql.Connection">
      <level value="DEBUG"/>
  </logger>
  <logger name="java.sql.Statement">
      <level value="DEBUG"/>
  </logger>
  <logger name="java.sql.PreparedStatement">
      <level value="DEBUG"/>
  </logger>
  <logger name="java.sql.ResultSet">
      <level value="DEBUG"/>
  </logger>
	<root>
		<level value="WARN" />
		<appender-ref ref="console" />
	</root>
	                   
</log4j:configuration>
