@charset "utf-8";
/* CSS Document */

#lnb{ background:url(/health/open_content/images/sub_purple/lnb_bg_bottom.gif) 0 100% no-repeat; padding:0 0 43px 0; width:190px;}
#lnb h2{ background:url(/health/open_content/images/sub_purple/lnb_bg_top.gif) 0 0 no-repeat; padding:37px 35px 0 35px; width:120px; text-align:center;}
.menu_all_view{ text-align:center; margin:11px 6px 0 6px; background:#cac1f1 url(/health/open_content/images/common/menu_view_vline.gif) center center no-repeat; }
.menu_toggle_on,
.menu_toggle_off{ border:none; font-size:0.917em; color:#844fb9; background-color:#cac1f1; padding:2px 16px 0 1px; background-position:right center; background-repeat:no-repeat; cursor:pointer; width:69px; vertical-align:top}
.menu_toggle_on{ background-image:url(/health/open_content/images/sub_purple/menu_view_toggle_on.gif); margin-right:10px;}
.menu_toggle_off{background-image:url(/health/open_content/images/sub_purple/menu_view_toggle_off.gif)}

#left_lnb{ background:url(/health/open_content/images/sub_purple/lnb_bg.gif) 0 0 repeat-y; margin-top:22px; float:left; width:220px}
#lnb ul{margin:0 auto;width:168px;}
#lnb ul li{ list-style:none; }
#lnb ul li a{ background:url(/health/open_content/images/sub_purple/lnb_menu_off.gif) 0 center no-repeat; padding:0 0 0 21px; line-height:2.500em; display:block;}
#lnb ul li a:hover,
#lnb ul li a:active,
#lnb ul li a:focus,
#lnb ul li a.current{ background-image:url(/health/open_content/images/sub_purple/lnb_menu_on.gif); font-weight:bold; color:#fff; text-decoration:none;}
#lnb ul li ul{ width:154px; margin:1px auto; border-bottom:1px solid #c3c3c3;padding-bottom:1px; background-color:#eee}
#lnb ul li ul li{}
#lnb ul li ul li a{ background:#9b9b9b url(/health/open_content/images/sub_purple/lnb_alink_bg.gif) 0 -20px no-repeat; line-height:1.417em; color:#555555;}
#lnb ul li ul li a:hover,
#lnb ul li ul li a:active,
#lnb ul li ul li a:focus,
#lnb ul li ul li a.current{ background-color:#af4db2; color:#7545ae; background-image:url(/health/open_content/images/sub_purple/lnb_alink_bg.gif); text-decoration:underline}

    .navigator li .current{ color:#9f66d8;}

/* ======== 블릿스타일 ========*/

    h4{ background:url(/health/open_content/images/sub_purple/btl_h4.gif) 0 3px no-repeat; padding:1px 0 0 20px; position:relative; font-size:1.200em; color:#6a3b9e; margin:0 0 10px 0}
    h5{ background:url(/health/open_content/images/sub_purple/blt_h5.gif) 0 3px no-repeat; padding: 0 0 0 18px; position:relative; font-size:1.120em; color:#a84bb0; margin: 0 0 10px 0}
    
.list_tyle_1{ line-height:1.500em}
.list_tyle_1 li{ background: url(/health/open_content/images/sub_purple/blt_li.gif) 13px  7px no-repeat; padding:0 0 0 23px; position:relative; list-style:none; }
.list_tyle_1 li li{ background:url(/health/open_content/images/sub_green/blt_li2.gif) 0 7px no-repeat; padding:0 0 0 7px; position:relative;}
.list_tyle_1 li li li{ background:url(/health/open_content/images/sub_green/blt_li3.gif) 0 8px no-repeat; padding:0 0 0 7px; position:relative;}

.list_tyle_1 li.no{ background-image:none;}
.list_tyle_1 li.num{ background-image:none; text-indent:-16px; padding-left:0px;}
.list_tyle_1 li.num2{ background-image:none; text-indent:-22px; padding-left:20px;}

.list_tyle_1 li.point{ color:#c75d10; }
.list_tyle_1 li.point_red{ color:#d11919; }
.list_tyle_1 li.point_black{ color:#000; }
.list_tyle_1 li.point_green{ color:#24ab6c; }
.list_tyle_1 li.point_blue{ color:#0c9cb8; }
.list_tyle_1 li.point_orange{ color:#f13c05; }
.list_tyle_1 li.point_perple{ color:#b130ba; }

.list_tyle_1 span.point{ color:#c75d10; }
.list_tyle_1 span.point_red{ color:#d11919; }
.list_tyle_1 span.point_black{ color:#000; }
.list_tyle_1 span.point_green{ color:#24ab6c; }
.list_tyle_1 span.point_blue{ color:#0c9cb8; }
.list_tyle_1 span.point_orange{ color:#f13c05; }
.list_tyle_1 span.point_perple{ color:#b130ba; }

/* ======== 탭스타일 ========*/

.tab_tyle_green{ border-bottom:1px solid #7545ae; width:650px; width:100%; height:1.917em; margin-bottom:20px;}
.tab_tyle_green li{  display:block; float:left; height:1.917em; list-style:none; }
.tab_tyle_green li.on{ background-color:#7545ae; border-color:#7545ae}
.tab_tyle_green li a{ border-width:1px 1px 0 1px; border-style:solid; border-color:#bbb; display:block; float:left; padding:0 30px; font-weight:bold;height:1.917em}
.tab_tyle_green li.on a{ color:#fff ;border-color:#bbb; }

.tab_type1 ul li.current a,
.tab_type1 ul li a:hover,
.tab_type1 ul li a:active,
.tab_type1 ul li a:focus{ color:#1B79B4; }

/* ======== 풋터 ========*/

#footer{ background:url(/health/open_content/images/sub_purple/footer_bg.gif) 0 0 repeat-x; }

/* ======== 탭메뉴 ========*/

.tab_type1 { background-image:url(/health/open_content/images/sub_purple/bg_tabtype_btm.gif) }
.tab_type1 ul { background-image:url(/health/open_content/images/sub_purple/bg_tabtype.gif) }
.tab_type1 ul li { background-image:url(/health/open_content/images/sub_purple/blt_tabtype.gif); padding:8px 0px 0px 15px; list-style:none; }
.tab_type1 ul li.current a,
.tab_type1 ul li a:hover,
.tab_type1 ul li a:active,
.tab_type1 ul li a:focus{ color:#a84bb0; }

/* ======== 퀵메뉴 타이틀 ========*/

#quick_menu{ position:absolute; left:900px; top:155px; background:url(/health/open_content/images/common/quickmenu_bg_perple.gif) 0 0 no-repeat; width:100px; padding:5px 10px;}

/* ======== 보건소 소개> 부서안내 > 층별 이용시설 ========*/

.info_table { border-top:2px solid #c460c5; border-bottom:1px solid #c460c5; width:100%; border-collapse:collapse}
.info_table th { padding:15px 10px 15px 15px; border-bottom:1px solid #c460c5 }
.info_table td { padding:15px 10px 15px 15px; border-bottom:1px solid #cfd6db }
.info_table td.title{ border-bottom:1px solid #cfd6db; background:#f4f4f4; padding:15px 15px 15px 15px; text-align:center; font-weight:bold; color:#c460c5; }



/* ======== 조직도 ========*/
.orz	{background-image:none; list-style:none; margin-bottom:30px; padding:0; display:inline;}
.orz li img	{ margin:0; padding:0;}
.orz li	{display:inline; float:left;}
.orz li.orz1	{ padding-left:255px;}
.orz li.fir	{ padding:0 0 8px 30px;}
.orz li.ct	{ padding:0 0 8px 80px;}
.orz li.ct_1	{ padding:0 0 8px 83px;}

